#info-container {
display:flex;
margin: 0 14px 25px 14px;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
text-align: center;
padding: 0 20% 10% 20%;
color: #ecf8ec;
}


@media (max-width: 990px) {
    #info-container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0 10% 0;
        }
}
