#info-container {
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
padding: 0 22% 10% 22%;
}


.infoTextDiv{
    margin-bottom: 20px;
    text-align: justify;
}


@media (max-width: 990px) {
    #info-container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10% 0 10% 0;
        }
}