#home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

#header {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    color: #787c78;
}

#header-title{
    font-size: 40px;
    margin-bottom: 2%;
    color: #546368;
}

.components-container {
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
text-align: center;
padding: 0 22% 5% 22%;
}

#buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

button {
    margin-right: 10px;
    width: 100px;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
    background-color: #e8e4c6;
    border: 1px #d0cdc7 solid;
    color: #787c78;
}

button:hover{
    border: 1px   #a8aea8
    solid;

}

button:focus {
    margin-right: 10px;
    width: 98px;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(210, 207, 207);
}

@media (max-width: 990px) {
#buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-top: 6%;
}

.components-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 6% 22% 10% 22%;
    }

}