#card-container {
    width: 200px;
    height:300px;
    margin: 10px;
    /* border: black solid 1px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow:  0 0 10px rgb(190, 183, 242);
    /* box-shadow:  0 0 5px rgb(220, 215, 233); */

    background-color: white;
    border: white 2px solid;
    border-radius: 4%;

}

img {
    width: 80%;
    height:80%;
}

#card-title {
    font-size: 20px;
}