body {
    margin: 0;
    font-family: futura;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(232, 215, 215), rgb(238, 243, 99));
    margin: 0;
    background-size: cover;
}